@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-color: #b7b7b7;
}

.body-background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: white;
  background-image: radial-gradient(var(--gradient-color) 1px, white 2px, white 8px, var(--gradient-color) 9px, white 10px, white 20px, var(--gradient-color) 21px, white 22px, white 30px, var(--gradient-color) 31px, white 32px, white 40px, var(--gradient-color) 41px, transparent 0);
  background-size: 32px 32px;
  background-position: center;
  mask-image: radial-gradient(transparent 60%, black);
}

.svg-stroke {
  stroke: #000;
  stroke-width: 4;
  stroke-linejoin: bevel;
  stroke-linecap: butt;
}
