@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  background-image: radial-gradient(#888 1px, transparent 0);
  background-size: 64px 64px;
  background-position: -19px -19px;
  background-attachment: fixed;
}

.gotop {
  overflow: visible;
  stroke: #000;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 40;
  width: 64px;
  height: 64px;
  cursor: pointer;
}
